# Aviation Accidents Analysis

You are part of a consulting firm that is tasked to do an analysis of commercial and passenger jet airline safety. The client (an airline/airplane insurer) is interested in knowing what types of aircraft (makes/models) exhibit low rates of total destruction and low likelihood of fatal or serious passenger injuries in the event of an accident. They are also interested in any general variables/conditions that might be at play. Your analysis will be based off of aviation accident data accumulated from the years 1948-2023. 

Our client is only interested in airplane makes/models that are professional builds and could potentially still be active. Assume a max lifetime of 40 years for a make/model retirement and make sure to filter your data accordingly (i.e. from 1983 onwards). They would also like separate recommendations for small aircraft vs. larger passenger models. **In addition, make sure that claims that you make are statistically robust and that you have enough samples when making comparisons between groups.**


In this summative assessment you will demonstrate your ability to:
- **Use Pandas to load, inspect, and clean the dataset appropriately.**
- **Transform relevant columns to create measures that address the problem at hand.**
- conduct EDA: visualization and statistical measures to systematically understand the structure of the data
- recommend a set of airplanes and makes conforming to the client's request and identify at least *two* factors contributing to airplane safety. You must provide supporting evidence (visuals, summary statistics, tables) for each claim you make.

### Make relevant library imports

In [49]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

## Data Loading and Inspection

### Load in data from the relevant directory and inspect the dataframe.
- inspect NaNs, datatypes, and summary statistics

In [50]:
df = pd.read_csv('AviationData.csv', encoding='latin1')

/var/folders/fv/82cs2c0n4p7fnj4k3xl34p1m0000gn/T/ipykernel_19339/2656823905.py:1: DtypeWarning: Columns (6,7,28) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('AviationData.csv', encoding='latin1')

In [51]:
df.head()
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50132 non-null  object
 9   Airport.Name            52704 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87507 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81793 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82505 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000
mean,1.146585,0.647855,0.279881,0.357061,5.325440
std,0.446510,5.485960,1.544084,2.235625,27.913634
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

## Data Cleaning

### Filtering aircrafts and events

We want to filter the dataset to include aircraft that the client is interested in an analysis of:
- inspect relevant columns
- figure out any reasonable imputations
- filter the dataset

In [52]:
print(df['Aircraft.Category'].value_counts(dropna=False))

print(df['Amateur.Built'].value_counts(dropna=False))

print(df['Event.Date'].head())

Aircraft.Category
NaN                  56602
Airplane             27617
Helicopter            3440
Glider                 508
Balloon                231
Gyrocraft              173
Weight-Shift           161
Powered Parachute       91
Ultralight              30
Unknown                 14
WSFT                     9
Powered-Lift             5
Blimp                    4
UNK                      2
Rocket                   1
ULTR                     1
Name: count, dtype: int64
Amateur.Built
No     80312
Yes     8475
NaN      102
Name: count, dtype: int64
0    1948-10-24
1    1962-07-19
2    1974-08-30
3    1977-06-19
4    1979-08-02
Name: Event.Date, dtype: object

In [53]:
df['Event.Date'] = pd.to_datetime(df['Event.Date'], errors='coerce')

df = df[df['Event.Date'].dt.year >= 1983]

print(df['Event.Date'].head())

3600   1983-01-01
3601   1983-01-01
3602   1983-01-01
3603   1983-01-01
3604   1983-01-01
Name: Event.Date, dtype: datetime64[ns]

In [54]:
df = df[df['Amateur.Built'] == 'No']

print(df['Amateur.Built'].value_counts(dropna=False))

Amateur.Built
No    76960
Name: count, dtype: int64

In [55]:
df = df[df['Aircraft.Category'].str.lower() == 'airplane']

print(df['Aircraft.Category'].value_counts(dropna=False))

Aircraft.Category
Airplane    21447
Name: count, dtype: int64

### Cleaning and constructing Key Measurables

Injuries and robustness to destruction are a key interest point for the client. Clean and impute relevant columns and then create derived fields that best quantifies what the client wishes to track. **Use commenting or markdown to explain any cleaning assumptions as well as any derived columns you create.**

**Construct metric for fatal/serious injuries**

*Hint:* Estimate the total number of passengers on each flight. The likelihood of serious / fatal injury can be estimated as a fraction from this.

In [56]:
# Assumption: If a value is missing, assume 0
# Fill missing injury counts with 0
df[['Total.Fatal.Injuries', 'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured']] = df[['Total.Fatal.Injuries', 'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured']].fillna(0)

# Construct Total_Occupants
df['Total_Occupants'] = df['Total.Fatal.Injuries'] + df['Total.Serious.Injuries'] + df['Total.Minor.Injuries'] + df['Total.Uninjured']

df[['Total.Fatal.Injuries', 'Total.Serious.Injuries', 'Total.Minor.Injuries', 'Total.Uninjured', 'Total_Occupants']].head()

,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Total_Occupants
4149,0.0,0.0,0.0,588.0,588.0
4150,0.0,0.0,0.0,588.0,588.0
4171,1.0,1.0,0.0,0.0,2.0
4285,1.0,0.0,0.0,4.0,5.0
5957,0.0,0.0,0.0,289.0,289.0

In [57]:
# Assumption: The probability of fatal or serious injury on a flight can be approximated as the fraction of occupants in that category.

# Fraction of occupants who were seriously injured
df['Fatality_Rate'] = df['Total.Fatal.Injuries'] / df['Total_Occupants']

# Fraction of occupants who were seriously injured
df['Serious_Injury_Rate'] = df['Total.Serious.Injuries'] / df['Total_Occupants']

# Combine fata + serious injury for one safety metric
df['Fatal_or_Serious_Rate'] = df['Fatality_Rate'] + df['Serious_Injury_Rate']

df[['Total_Occupants', 'Fatality_Rate', 'Serious_Injury_Rate', 'Fatal_or_Serious_Rate']].head()

# Fraction-based approach accounts for varying flight sizes

,Total_Occupants,Fatality_Rate,Serious_Injury_Rate,Fatal_or_Serious_Rate
4149,588.0,0.0,0.0,0.0
4150,588.0,0.0,0.0,0.0
4171,2.0,0.5,0.5,1.0
4285,5.0,0.2,0.0,0.2
5957,289.0,0.0,0.0,0.0

**Aircraft.Damage**
- identify and execute any cleaning tasks
- construct a derived column tracking whether an aircraft was destroyed or not.

In [58]:
print(df['Aircraft.damage'].value_counts(dropna=False))

Aircraft.damage
Substantial    16990
Destroyed       2316
NaN             1227
Minor            817
Unknown           97
Name: count, dtype: int64

In [59]:
# Standardize and clean
df['Aircraft.damage'] = df['Aircraft.damage'].str.lower().str.strip()

# Replace missing values with "unknown"
df['Aircraft.damage'] = df['Aircraft.damage'].fillna('unknown')
df['Aircraft.damage'] = df['Aircraft.damage'].replace('', 'unknown')

# Check cleaned counts

print(df['Aircraft.damage'].value_counts())

Aircraft.damage
substantial    16990
destroyed       2316
unknown         1324
minor            817
Name: count, dtype: int64

In [60]:
# 1 = Destroyed, 0 = Not Destroyed
df['Total_Destruction'] = df['Aircraft.damage'].apply(lambda x: 1 if x == 'destroyed' else 0)

print(df['Total_Destruction'].value_counts())

Total_Destruction
0    19131
1     2316
Name: count, dtype: int64

In [61]:
# Cross-check between injuries and destruction
df.groupby('Total_Destruction')[['Fatality_Rate', 'Serious_Injury_Rate']].mean()

                   Fatality_Rate  Serious_Injury_Rate
Total_Destruction
0                       0.096109             0.119048
1                       0.788422             0.050039

### Investigate the *Make* column
- Identify cleaning tasks here
- List cleaning tasks clearly in markdown
- Execute the cleaning tasks
- For your analysis, keep Makes with a reasonable number (you can put the threshold at 50 though lower could work as well)

In [62]:
# Count makes
print('Number of unique makes:', df['Make'].nunique())

# Most common makes
print(df['Make'].value_counts().head(20))

# Missing values
print('Missing values in Make:', df['Make'].isna().sum())

Number of unique makes: 1332
Make
CESSNA                4867
PIPER                 2803
Cessna                2279
Piper                 1186
BOEING                1037
BEECH                 1018
Beech                  413
MOONEY                 238
Boeing                 227
CIRRUS DESIGN CORP     218
AIR TRACTOR INC        217
AIRBUS                 215
BELLANCA               158
AERONCA                149
MAULE                  144
Mooney                 125
EMBRAER                123
Air Tractor            117
LUSCOMBE                95
DEHAVILLAND             91
Name: count, dtype: int64
Missing values in Make: 3

## Cleaning Tasks for Make Column
- Standardize capitalization
- Remove whitespace
- Handle missing values
- Standardize manufacturer names
- Filter out makes with few occurances

In [63]:
# Standardize capitalization
df['Make'] = df['Make'].str.title()

# Strip whitespace
df['Make'] = df['Make'].str.strip()

# Drop missing value rows
df = df.dropna(subset=['Make'])

# Name variations
df['Make'] = df['Make'].replace({
  'Air Tractor Inc': 'Air Tractor',
  'Cirrus Design Corp': 'Cirrus',
  'Dehavilland': 'De Havilland',
  'Mcdonnell-Douglas': 'Mcdonnell Douglas'
})

# Filter few accidents out
make_counts = df['Make'].value_counts()

makes_to_keep = make_counts[make_counts >= 50].index
df = df[df['Make'].isin(makes_to_keep)]

# Check
print(df['Make'].value_counts().head(20))
print('Number of unique makes after cleaning:', df['Make'].nunique())

Make
Cessna               7146
Piper                3989
Beech                1431
Boeing               1264
Air Tractor           425
Mooney                363
Cirrus                357
Airbus                243
Bellanca              219
Maule                 215
Aeronca               200
De Havilland          168
Champion              158
Embraer               153
Grumman               147
Luscombe              141
Stinson               129
Mcdonnell Douglas     109
North American        106
Taylorcraft            93
Name: count, dtype: int64
Number of unique makes after cleaning: 33

### Inspect Model column
- Get rid of any NaNs.
- Inspect the column and counts for each model/make. Are model labels unique to each make?
- If not, create a derived column that is a unique identifier for a given plane type.

In [64]:
print('Missing values in Model:', df['Model'].isna().sum())

print(df['Model'].value_counts().head(20))

Missing values in Model: 13
Model
172          769
737          403
152          316
182          304
172S         276
PA28         273
172N         249
SR22         240
180          213
A36          181
172M         180
150          179
PA-18-150    175
PA-28-140    169
172P         143
140          117
172R         109
170B         107
PA-28-180    105
PA-28-161    102
Name: count, dtype: int64

In [65]:
# Drop rows with missing Model
df = df.dropna(subset=['Model'])

# Standardize text
df['Model'] = df['Model'].str.upper().str.strip()

In [66]:
# Create make/model identifier
df['Make_Model'] = df['Make'] + " " + df['Model']

print(df[['Make', 'Model', 'Make_Model']].head())
print('Number of unique Make_Model combinations:', df['Make_Model'].nunique())

              Make      Model          Make_Model
4150        Boeing        747          Boeing 747
4171         Piper  PA-28-140     Piper PA-28-140
4285  De Havilland      DHC-6  De Havilland DHC-6
6760        Boeing    727-200      Boeing 727-200
6806         Beech        C35           Beech C35
Number of unique Make_Model combinations: 2115

### Cleaning other columns
- there are other columns containing data that might be related to the outcome of an accident. We list a few here:
- Engine.Type
- Weather.Condition
- Number.of.Engines
- Purpose.of.flight
- Broad.phase.of.flight

Inspect and identify potential cleaning tasks in each of the above columns. Execute those cleaning tasks. 

**Note**: You do not necessarily need to impute or drop NaNs here.

In [67]:
# Engine Type
print(df['Engine.Type'].value_counts(dropna=False).head(20))

Engine.Type
Reciprocating      12835
NaN                 3214
Turbo Prop           931
Turbo Fan            702
Unknown              105
Turbo Jet             71
Geared Turbofan       12
Turbo Shaft            9
UNK                    1
Name: count, dtype: int64

In [68]:
# Text
df['Engine.Type'] = df['Engine.Type'].str.upper().str.strip()

# Missing Values
df['Engine.Type'] = df['Engine.Type'].fillna('UNKNOWN')
df['Engine.Type'] = df['Engine.Type'].replace({'UNK': 'UNKNOWN', 'UNKNOWN': 'UNKNOWN'})

# Similar Categories
df['Engine.Type'] = df['Engine.Type'].replace({
  'TURBO PROP': 'TURBOPROP',
  'TURBO FAN': 'TURBOFAN',
  'TURBO JET': 'TURBOJET'
})

print(df['Engine.Type'].value_counts())

Engine.Type
RECIPROCATING      12835
UNKNOWN             3320
TURBOPROP            931
TURBOFAN             702
TURBOJET              71
GEARED TURBOFAN       12
TURBO SHAFT            9
Name: count, dtype: int64

In [69]:
# Weather Conditions
print(df['Weather.Condition'].value_counts(dropna=False).head(20))

Weather.Condition
VMC    14295
NaN     2418
IMC      905
Unk      186
UNK       76
Name: count, dtype: int64

In [70]:
# Text
df['Weather.Condition'] = df['Weather.Condition'].str.upper().str.strip()

# Missing Values
df['Weather.Condition'] = df['Weather.Condition'].fillna('UNKNOWN')
df['Weather.Condition'] = df['Weather.Condition'].replace({'UNK': 'UNKNOWN', 'UNKN': 'UNKNOWN', 'Unk': 'UNKNOWN'})

print(df['Weather.Condition'].value_counts())

Weather.Condition
VMC        14295
UNKNOWN     2680
IMC          905
Name: count, dtype: int64

In [71]:
# Number of Engines
print(df['Number.of.Engines'].describe())
print(df['Number.of.Engines'].value_counts().sort_index())

count    15791.000000
mean         1.172250
std          0.414851
min          0.000000
25%          1.000000
50%          1.000000
75%          1.000000
max          4.000000
Name: Number.of.Engines, dtype: float64
Number.of.Engines
0.0        5
1.0    13222
2.0     2470
3.0       27
4.0       67
Name: count, dtype: int64

In [72]:
# Replace invalid 0s (since an airplane can't have 0 engines) with NaN
df['Number.of.Engines'] = df['Number.of.Engines'].replace(0, np.nan)

# Convert float to integer type
df['Number.of.Engines'] = df['Number.of.Engines'].astype('Int64')

print(df['Number.of.Engines'].value_counts(dropna=False))

Number.of.Engines
1       13222
2        2470
<NA>     2094
4          67
3          27
Name: count, dtype: Int64

In [73]:
# Purpose of Flight
print(df['Purpose.of.flight'].value_counts(dropna=False).head(20))

Purpose.of.flight
Personal                     9844
NaN                          3048
Instructional                2410
Aerial Application            724
Business                      409
Unknown                       303
Positioning                   269
Skydiving                     157
Aerial Observation            147
Other Work Use                121
Banner Tow                     86
Flight Test                    73
Ferry                          72
Executive/corporate            65
Glider Tow                     29
Public Aircraft - Federal      28
Public Aircraft                27
Public Aircraft - State        21
Air Race show                  15
Firefighting                   12
Name: count, dtype: int64

In [74]:
# Replace 'unknown' with NaN
df['Purpose.of.flight'] = df['Purpose.of.flight'].replace('Unknown', np.nan)

# Combine Public Aircraft categories
df['Purpose.of.flight'] = df['Purpose.of.flight'].replace({
  'Public Aircraft - Federal': 'Public Aircraft',
  'Public Aircraft - State': 'Public Aircraft'
})

# Group small categrories into 'Other'
small_categories = df['Purpose.of.flight'].value_counts()[df['Purpose.of.flight'].value_counts() < 100].index

df['Purpose.of.flight'] = df['Purpose.of.flight'].replace(small_categories, 'Other')

df['Purpose.of.flight'].value_counts(dropna=False)

Purpose.of.flight
Personal              9844
NaN                   3351
Instructional         2410
Aerial Application     724
Other                  448
Business               409
Positioning            269
Skydiving              157
Aerial Observation     147
Other Work Use         121
Name: count, dtype: int64

In [75]:
# Broad Phase of Flight
print(df['Broad.phase.of.flight'].value_counts(dropna=False).head(20))

Broad.phase.of.flight
NaN            15428
Landing         1110
Takeoff          425
Cruise           238
Approach         210
Maneuvering      127
Taxi              99
Go-around         81
Descent           62
Climb             52
Standing          35
Unknown           11
Other              2
Name: count, dtype: int64

In [76]:
# Replace placeholders with NaN
df['Broad.phase.of.flight'] = df['Broad.phase.of.flight'].replace(['Unknown'], np.nan)

# Replace rare 'Other' with NaN due to low frequency
df['Broad.phase.of.flight'] = df['Broad.phase.of.flight'].replace(['Other'], np.nan)

# Group small categories into 'Other'
small_phases = ['Standing', 'Climb', 'Descent']

df['Broad.phase.of.flight'] = df['Broad.phase.of.flight'].replace(small_phases, 'Other')

df['Broad.phase.of.flight'].value_counts(dropna=False)

Broad.phase.of.flight
NaN            15441
Landing         1110
Takeoff          425
Cruise           238
Approach         210
Other            149
Maneuvering      127
Taxi              99
Go-around         81
Name: count, dtype: int64

### Column Removal
- inspect the dataframe and drop any columns that have too many NaNs

In [77]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17880 entries, 4150 to 88886
Data columns (total 37 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                17880 non-null  object
 1   Investigation.Type      17880 non-null  object
 2   Accident.Number         17880 non-null  object
 3   Event.Date              17880 non-null  datetime64[ns]
 4   Location                17876 non-null  object
 5   Country                 17879 non-null  object
 6   Latitude                15981 non-null  object
 7   Longitude               15978 non-null  object
 8   Airport.Code            11648 non-null  object
 9   Airport.Name            11754 non-null  object
 10  Injury.Severity         17163 non-null  object
 11  Aircraft.damage         17880 non-null  object
 12  Aircraft.Category       17880 non-null  object
 13  Registration.Number     17716 non-null  object
 14  Make                    17880 non-null  object
 15  Model                   17880 non-null  object
 16  Amateur.Built           17880 non-null  object
 17  Number.of.Engines       15786 non-null  Int64
 18  Engine.Type             17880 non-null  object
 19  FAR.Description         17536 non-null  object
 20  Schedule                2140 non-null   object
 21  Purpose.of.flight       14529 non-null  object
 22  Air.carrier             8449 non-null   object
 23  Total.Fatal.Injuries    17880 non-null  float64
 24  Total.Serious.Injuries  17880 non-null  float64
 25  Total.Minor.Injuries    17880 non-null  float64
 26  Total.Uninjured         17880 non-null  float64
 27  Weather.Condition       17880 non-null  object
 28  Broad.phase.of.flight   2439 non-null   object
 29  Report.Status           14095 non-null  object
 30  Publication.Date        17092 non-null  object
 31  Total_Occupants         17880 non-null  float64
 32  Fatality_Rate           17104 non-null  float64
 33  Serious_Injury_Rate     17104 non-null  float64
 34  Fatal_or_Serious_Rate   17104 non-null  float64
 35  Total_Destruction       17880 non-null  int64
 36  Make_Model              17880 non-null  object
dtypes: Int64(1), datetime64[ns](1), float64(8), int64(1), object(26)
memory usage: 5.2+ MB

Canvas has the threshold for non-nulls as 20000, but as seen in the code above, that would empty the dataframe after the cleaning and filtering. So, I'll use a different threshold to avoid having an empty dataframe.

In [79]:
threshold = 10000

df = df.loc[:, df.count() >= threshold]

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17880 entries, 4150 to 88886
Data columns (total 34 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                17880 non-null  object
 1   Investigation.Type      17880 non-null  object
 2   Accident.Number         17880 non-null  object
 3   Event.Date              17880 non-null  datetime64[ns]
 4   Location                17876 non-null  object
 5   Country                 17879 non-null  object
 6   Latitude                15981 non-null  object
 7   Longitude               15978 non-null  object
 8   Airport.Code            11648 non-null  object
 9   Airport.Name            11754 non-null  object
 10  Injury.Severity         17163 non-null  object
 11  Aircraft.damage         17880 non-null  object
 12  Aircraft.Category       17880 non-null  object
 13  Registration.Number     17716 non-null  object
 14  Make                    17880 non-null  object
 15  Model                   17880 non-null  object
 16  Amateur.Built           17880 non-null  object
 17  Number.of.Engines       15786 non-null  Int64
 18  Engine.Type             17880 non-null  object
 19  FAR.Description         17536 non-null  object
 20  Purpose.of.flight       14529 non-null  object
 21  Total.Fatal.Injuries    17880 non-null  float64
 22  Total.Serious.Injuries  17880 non-null  float64
 23  Total.Minor.Injuries    17880 non-null  float64
 24  Total.Uninjured         17880 non-null  float64
 25  Weather.Condition       17880 non-null  object
 26  Report.Status           14095 non-null  object
 27  Publication.Date        17092 non-null  object
 28  Total_Occupants         17880 non-null  float64
 29  Fatality_Rate           17104 non-null  float64
 30  Serious_Injury_Rate     17104 non-null  float64
 31  Fatal_or_Serious_Rate   17104 non-null  float64
 32  Total_Destruction       17880 non-null  int64
 33  Make_Model              17880 non-null  object
dtypes: Int64(1), datetime64[ns](1), float64(8), int64(1), object(23)
memory usage: 4.8+ MB

### Save DataFrame to csv
- its generally useful to save data to file/server after its in a sufficiently cleaned or intermediate state
- the data can then be loaded directly in another notebook for further analysis
- this helps keep your notebooks and workflow readable, clean and modularized

In [80]:
df.to_csv('cleaned_aviation_data.csv', index=False)